#deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#confirmDelete, #cancelDelete {
    width: 100px;
    margin: 0px 10px 20px 10px;
    padding: 5px;
    background: #448899;
    color: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

#confirmDelete:hover {
    box-shadow: inset 0 0 3px 1px #ffffff;
    background-color: #5da5b7;
}

#cancelDelete:hover {
    box-shadow: inset 0 0 3px 1px #ffffff;
    background-color: #6f6f6f;
}
  
#confirmDelete:active, #cancelDelete:active {
    box-shadow: inset 0 0 5px 1px #ffffff;
}

#travelItinerary {
    display: grid;
    grid-template-columns: minmax(360px,1000px);
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
}

#notification {
    margin-left: 10px;
    margin-right: 10px;
    display: none;
}

#waiting {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 35px;
}

#hello {
    color: 	#FF0DA6;
}

#noReservation {
    position: relative;
    font-weight: 500;
    font-size: 19px;
    color: #666666;
}

#goHome {
    width: 154px;
    height: 36px;
    font-size: 19px;
    background: #448899;
    color: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#goHome:hover {
    box-shadow: inset 0 0 3px 1px #ffffff;
}
  
#goHome:active {
    box-shadow: inset 0 0 5px 1px #ffffff;
}

#openReservation {
    display: none;
}

#scheduleForm {
    display: grid;
    grid-template-columns: 266px auto;
    gap: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

#left {
    display: flex;
    width: 100%;
    height: 200px;
}

#attractionImage {
    width: 90%;
    height: 200px;
    margin: auto;
    object-fit: cover;
}

#garbageCan {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
}

#taipeiDayTour {
    font-weight: 700;
    font-size: 16px;
    color: #448899;
    height: 14px;
    margin-bottom: 30px;
}

#date, #time, #fee, #location {
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    height: 14px;
    margin-bottom: 20px;
}

#contactForm, #paymentForm {
    margin-left: 10px;
    margin-right: 10px;
}

#line {
    width: 100%;
    height: 0px;
    border: 1px solid #E8E8E8;
    margin-bottom: 44px;
    margin-top: 40px;
}

#contactInformation, #creditCardInformation {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 31px;
}

#contactName, #contactEmail, #cellphoneNumber {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
}

#bookingName, #bookingEmail, #bookingCellphonedNumber {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 185px;
    margin-top: 12px;
}

#creditCardNumber, #expirationDate, #creditCardCAPTCHA {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
    margin-top: 24px;
}

input {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    color: #666666;
    font-size: 16px;
}

.tpfield {
    height: 48.67px;
    width: 200px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

#card-number , #card-expiration-date , #card-ccv {
    border: 1px solid #E8E8E8;
    padding-left: 15px;
    margin-left: 20px;
    border-radius: 5px;
    color: #666666;
    font-size: 16px;
}

.bookingNameMessage, .bookingEmailMessage, .bookingCellphonedNumberMessage {
    color: red;
}

#help {
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
}

#finalCheck {
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
}

#totalPrice {
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin-bottom: 25px;
}

#remit {
    width: 173px;
    height: 36px;
    background: #448899;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    border-style: none;
}

#remit:hover {
    box-shadow: inset 0 0 3px 1px #ffffff;
}
  
#remit:active {
    box-shadow: inset 0 0 5px 1px #ffffff;
}

@media (max-width: 600px) {
    #waiting {
        margin-bottom: 7px;
    }
    #noReservation {
        margin-top: 35px;
    }
    #scheduleForm {
        grid-template-columns: repeat(1, 1fr);
        gap: 7px;
    }
    #left {
        height: 256px;
    }
    #attractionImage {
        width: 100%;
        height: 80%;
    }
    #right{
        position: relative;
    }
    #garbageCan {
        float: none;
        position: absolute;
        right: 0;
        bottom: -25px;
    }
}