<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" media="all" />
    <link rel="stylesheet" href="/css/attraction.css" media="all" />
    <link rel="stylesheet" href="/css/user.css" media="all" />
    <title>Taipei Trip 台北一日遊 2.0</title>
  </head>
  <body>
    <div id="planning">
      <div id="hidden"></div>
      <div class="top">
        <div class="topTitle">
          <a href="/"><div class="taipei">台北一日遊</div></a>
          <div class="select">
            <div class="function">登入/註冊</div>
            <div class="logout">登出系統</div>
            <div class="schedule">預定行程</div>
          </div>
        </div>
      </div>

      <div id="loginForm">
        <div id="cover">
          <div id="loginTitle">登入會員帳號</div>
          <img id="closeLogin" src="/images/icon_x.png" />
          <input
            type="email"
            id="loginEmail"
            oninput="checkLoginInputValue(this, 'email') "
            placeholder="輸入電子信箱"
          />
          <div id="loginEmailMessage"></div>
          <input
            type="password"
            id="loginPassword"
            oninput="checkLoginInputValue(this, 'password') "
            placeholder="輸入密碼"
          />
          <div id="loginPasswordMessage"></div>
          <button type="submit" id="login">登入帳戶</button>
          <div id="loginBottomMessage"></div>
          <div id="remind">
            <div id="notYetAccount">還沒有帳戶？</div>
            <div id="clickRegister">點此註冊</div>
          </div>
        </div>
      </div>

      <div id="registerForm">
        <div id="cover">
          <div id="registerTitle">註冊會員帳號</div>
          <img id="closeRegister" src="/images/icon_x.png" />
          <input
            type="name"
            id="registerName"
            oninput="checkRegisterInputValue(this, 'name') "
            placeholder="輸入姓名"
          />
          <div id="registerNameMessage"></div>
          <input
            type="email"
            id="registerEmail"
            oninput="checkRegisterInputValue(this, 'email') "
            placeholder="輸入電子信箱"
          />
          <div id="registerEmailMessage"></div>
          <input
            type="password"
            id="registerPassword"
            placeholder="輸入密碼"
            oninput="checkRegisterInputValue(this, 'password') "
          />
          <div id="registerPasswordMessage"></div>
          <button type="submit" id="register">註冊新帳戶</button>
          <div id="registerBottomMessage"></div>
          <div id="remind">
            <div id="alreadyAccount">已經有帳戶了？</div>
            <div id="clickLogin">點此登入</div>
          </div>
        </div>
      </div>

      <div id="warnForm">
        <div id="cover">
          <div id="warn"></div>
        </div>
      </div>

      <div class="attraction">
        <div id="container">
          <div class="wrapper">
            <div id="attractionImages"></div>
            <div id="clickLeft" onclick="startClick(-1)">
              <img src="/images/icon_left.png" />
            </div>
            <div id="clickRight" onclick="startClick(1)">
              <img src="/images/icon_right.png" />
            </div>
            <div id="collectDot"></div>
          </div>
          <div id="introduction">
            <div id="attractionName"></div>
            <div id="attractionLocation"></div>

            <div id="information">
              <div class="book">訂購導覽行程</div>
              <div class="service">
                <span>以此景點為中心的一日行程，帶您探索城市角落故事</span>
              </div>
              <div class="date">
                <span>選擇日期：</span>
                <input type="date" id="inputDate" />
              </div>

              <div class="time">
                <span id="choose">選擇時間：</span>
                <input
                  type="radio"
                  id="forenoonRadio"
                  name="time"
                  value="forenoonRadio"
                  checked
                />
                <label for="forenoonRadio">上半天</label>
                <input
                  type="radio"
                  name="time"
                  id="afternoonRadio"
                  value="afternoonRadio"
                />
                <label for="afternoonRadio">下半天</label>
              </div>
              <div class="fee">
                <span>導覽費用：</span>
                <span id="cost">新台幣 2000 元</span>
              </div>
              <button id="reservation">開始預約行程</button>
            </div>
          </div>
        </div>
        <div id="under">
          <div id="line"></div>
          <div id="attractionDescription"></div>
          <div id="attractionAddress">景點地址：</div>
          <div id="attractionTransport">交通方式：</div>
        </div>
      </div>

      <footer>COPYRIGHT © 2022 台北一日遊</footer>
    </div>
    <script type="text/javascript" src="/js/attraction.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
  </body>
</html>
