<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" media="all" />

    <title>Taipei Trip 台北一日遊 2.0</title>
  </head>
  <body>
    <div id="planning">
      <div class="top">
        <div class="topTitle">
          <div class="taipei">台北一日遊</div>
          <div class="select">
            <div class="function">登入/註冊</div>
            <div class="schedule">預定行程</div>
          </div>
        </div>
      </div>

      <div id="background_101">
        <div class="description">
          <div class="main_title">輕鬆享受台北一日悠閒</div>
          <div class="subtitle">探索每個角落，體驗城市的深度旅遊行程</div>
          <div class="search">
            <input
              type="text"
              id="inputCategories"
              placeholder="輸入景點名稱查詢"
            />
            <div id="searchKeyword">
              <img id="icon_search" src="/images/icon_search.png" />
            </div>
            <span id="categoriesList"></span>
          </div>
        </div>
      </div>

      <div id="main"></div>

      <footer>COPYRIGHT © 2022 台北一日遊</footer>
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
